/*
#EEEEEE
couleur grise

#0F2243
couleur blue

#D72385
Couleur des butons

#D8D8D8
champ de saisi
*/
*{
    margin:0;
    box-sizing: border-box;   
}

body{
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.section{
    padding: 25px 0;
}
.navigation{
    background-color: #0F2243;
    color: white;
    padding: 8px 0;
}

.mar-b-10{
    margin-bottom: 10px;
}

.mar-b-20{
    margin-bottom: 20px;
}

.btn{
    background-color: #D72385;
    color: #fff; 
    padding: 8px 20px;
    border-radius: 7px;
}

.btn.link{
    text-decoration: none;
}
.navigation .container{
    display: flex;
    justify-content: space-between;
}
.navigation a{
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
}
.navigation img{
    width:70px;
    margin-right: 10px;
}

.navigation .menu{
    display: flex;
    align-items: center;
}
.navigation .menu-item{
    display: inline;
    padding: 0 8px;
    padding-bottom: 5px;
}
.navigation .menu-item.active{
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.section.header .container{
    text-align: center;
}

.section.learn{
    background-color: #EEEEEE;
}

.section.learn .container{
    display: flex;
    align-items: center;
}

.section.learn img{
    width: 500px;
}

.section.learn .bloc-item{
    width: 50%;
}
.al-center{
    text-align: center;
}

footer{
    background-color: #0F2243;
    color: #fff;
    padding: 50px 0;
}

