/*
#EEEEEE
couleur grise

#0F2243
couleur blue

#D72385
Couleur des butons

#D8D8D8
champ de saisi
*/
*{
    margin:0;
    box-sizing: border-box;   
}

body{
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.section{
    padding: 25px 0;
}
.navigation{
    background-color: #0F2243;
    color: white;
    padding: 8px 0;
}

.mar-b-10{
    margin-bottom: 10px;
}

.mar-b-20{
    margin-bottom: 20px;
}

.btn{
    background-color: #D72385;
    color: #fff; 
    padding: 8px 20px;
    border-radius: 7px;
}

.btn.link{
    text-decoration: none;
}
.navigation .container{
    display: flex;
    justify-content: space-between;
}
.navigation a{
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
}
.navigation img{
    width:70px;
    margin-right: 10px;
}

.navigation .menu{
    display: flex;
    align-items: center;
}
.navigation .menu-item{
    display: inline;
    padding: 0 8px;
    padding-bottom: 5px;
}
.navigation .menu-item.active{
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.section.header .container{
    text-align: center;
}

.section.learn{
    background-color: #EEEEEE;
}

.section.learn.contact{
    background-color: #fff;
}

.section.learn .container{
    display: flex;
    align-items: center;
}

.section.learn img{
    width: 500px;
}

.section.learn .bloc-item{
    width: 50%;
}
.al-center{
    text-align: center;
}

/*
Style de la page communauté
*/
.section.membres{
    margin-left: 200px;
    margin-right: 200px;
}
.section article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.section .article1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.section.membres article .membre{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 200px;
    border-radius: 250px;
    align-items: center;
    margin-bottom: 15px;
}
.section.membres article .membre img{
 max-width: 100%;
 border-radius: 110px;
 margin-top: 2px;
 object-fit: cover;
 object-position: center;
}

.section.membres article .membre1{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 200px;
    margin-bottom: 30px;
}
.section.membres article .membre1 img{
 max-width: 100%;
 margin-top: 2px;
}

.input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #d4d2d2;
    font-size: large;
    padding-left: 30px;
    border: none;
}
.area{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #d4d2d2;
    font-size: large;
    padding-left: 30px;
    border: none;
}
.btn.form{
    width: 400px;
    border: none;
    font-size: large;
}
footer{
    background-color: #0F2243;
    color: #fff;
    padding: 50px 0;
}

